# Gradient Descent (Multivariate)

Multivariate Example: x^2 + Y^2

In [1]:
import pandas as pd
import numpy as np

def C(vals):
    x, y = vals[0], vals[1]

    return x**2 + y**2

# Gradient of cost function
def dC(vals):
    x, y = vals[0], vals[1]

    return np.array([2*x, 2*y])

# Gradient descent algorithm
def gradient_descent(initial_q, learning_rate, num_iterations):
    q_values = [initial_q]
    cost_values = [C(initial_q)]

    # Perform gradient descent
    for i in range(num_iterations):
        current_q = q_values[-1]
        delta_q = -learning_rate * dC(current_q)
        new_q = current_q + delta_q
        q_values.append(new_q)
        cost_values.append(C(new_q))

    return pd.DataFrame({'q_values': q_values, 'cost_values': cost_values})

# Define parameters
initial_q = [1,2]
learning_rate = 0.05
num_iterations = 100

# Perform gradient descent
df = gradient_descent(initial_q, learning_rate, num_iterations)

In [2]:
df

                                            q_values   cost_values
0                                             [1, 2]  5.000000e+00
1                                         [0.9, 1.8]  4.050000e+00
2                                       [0.81, 1.62]  3.280500e+00
3           [0.7290000000000001, 1.4580000000000002]  2.657205e+00
4           [0.6561000000000001, 1.3122000000000003]  2.152336e+00
..                                               ...           ...
96     [4.048376602284325e-05, 8.09675320456865e-05]  8.194677e-09
97    [3.643538942055893e-05, 7.287077884111786e-05]  6.637688e-09
98    [3.279185047850304e-05, 6.558370095700607e-05]  5.376527e-09
99   [2.9512665430652733e-05, 5.902533086130547e-05]  4.354987e-09
100   [2.656139888758746e-05, 5.312279777517492e-05]  3.527540e-09

[101 rows x 2 columns]