## Second highest salary

### Write a query to find the second highest salary from an employee table.

```sql
SELECT MAX(salary) AS second_highest_salary
FROM Employees
WHERE salary < (
    SELECT MAX(salary) FROM Employees
);
```

***