## Second highest salary by Department

### Write a query to find the second-highest salary in each department.

```sql
SELECT department_id, MAX(salary) AS second_highest_salary
FROM employees
WHERE salary < (
        SELECT MAX(salary)
        FROM employees e
        WHERE e.department_id = employees.department_id
    )
GROUP BY department_id;
```

***