## Top 5 highest paid employees

### Write a query to retrieve the top 5 highest-paid employees from an employee table?

```sql
SELECT emp_id, emp_name, salary
FROM Employees
ORDER BY salary DESC
LIMIT 5;
```

***