## Classify employee salaries

### Write a query to classify employee salaries as High, Medium, Low

```sql
SELECT emp_name,
salary,
CASE
    WHEN salary >= 100000 THEN 'High'
    WHEN salary >= 50000 THEN 'Medium'
    ELSE 'Low'
END AS salary_band
FROM Employees;
```

***