## Month with the Highest Revenue in Each Year

### Write a query to find the month with the highest revenue for each year.

```sql
SELECT year, month, revenue
FROM (
    SELECT year, month, revenue,
    RANK() OVER (PARTITION BY year ORDER BY revenue DESC) AS rank
    FROM monthly_revenue
) AS yearly_revenue
WHERE rank = 1;
```

***